---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section>
    <video></video>
  </section>
  <section></section>
  <article>
    <p>
      I am a cinematographer focusing on documentary, fictional and advertorial
      projects that investigate socially relevant topics.
    </p>
    <p>
      Shaping light and composing images is a powerful tool to emotionally catch
      the audience, making them reflect on issues and phenomena they're possibly
      unaware of.
    </p>
    <p>
      Besides entertainment, i see our responsibility as filmmakers to use that
      power for making a positive impact, regardless of what extent.
    </p>
  </article>
  <section><video></video></section>
  <section>
    <article>
      <a href="tel:+43 664 392 15 24">+43 664 392 15 24</a>
      <a href="mailto:mail@camillorakos.com">mail@camillorakos.com</a>
      <p>Camillo Rakoš</p>
      <p>Vienna, Austria</p>
    </article>
  </section>
</Layout>

<style></style>
