---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section>
    <!-- <iframe title="vimeo-player" src="https://player.vimeo.com/video/670168289?h=ec2e1f4cdf"></iframe> -->
    <video src="http://test.camillorakos.com/WEBSITE_16.9.mp4" autoplay loop muted
    ></video>
  </section>
  <section id="about">
    <article>
      <p>
        I am a cinematographer focusing on documentary, fictional and
        advertorial projects that investigate socially relevant topics.
      </p>
      <p>
        Shaping light and composing images is a powerful tool to emotionally
        catch the audience, making them reflect on issues and phenomena they're
        possibly unaware of.
      </p>
      <p>
        Besides entertainment, i see our responsibility as filmmakers to use
        that power for making a positive impact, regardless of what extent.
      </p>
    </article>
  </section>
  <section id="reel">
    <iframe src="https://player.vimeo.com/video/670168289?h=ec2e1f4cdf"
    ></iframe>
  </section>
  <section id="contact">
    <article>
      <a href="tel:+436643921524">+43 664 392 15 24</a>
      <a href="mailto:mail@camillorakos.com">mail@camillorakos.com</a>
      <p>
        Camillo Rakoš
        <br />
        Vienna, Austria
      </p>
    </article>
  </section>
</Layout>
<style>
  section {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    scroll-snap-align: start;
  }
  article {
    width: 512px;
    text-align: center;
  }
  p {
    margin-top: 20px;
  }
  iframe {
    width: 100vw;
    height: 100vh;
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
</style>
