---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout>
  <Header />
  <main>
    <section class="intro">
      <video
        class="landscape"
        src="/WEBSITE_16.9.webm"
        autoplay
        loop
        muted
        playsinline
      >
        <source src="/WEBSITE_16.9.webm" type="video/webm" />
        <source src="/WEBSITE_16.9.mp4" type="video/mp4" />
      </video>
      <video class="portrait" autoplay loop muted playsinline>
        <source src="/WEBSITE_9.16.webm" type="video/webm" />
        <source src="/WEBSITE_9.16.mp4" type="video/mp4" />
      </video>
    </section>
    <section class="about">
      <article>
        <p>
          I am an evolving cinematographer based in Vienna, Austria, focusing on
          documentaries, music videos, fictional and advertorial projects.
        </p>
        <p>
          Shaping light and creating images is a powerful tool for emotionally
          catching the audience, drawing their attention onto topics they're
          possibly unaware of.
        </p>
        <p>
          As a filmmaker, I aim to use that power to create new perspectives,
          trying to make a positive impact on the world we live in, regardless
          of what extent.
        </p>
      </article>
      <article class="clients">
        <p>Selected Clients & Collaborators:</p>
        <p>
          ARTE, Concrete - The Graffiti Agency,
          <br />
          Present Perfect Productions, SPÖ,
          <br />
          Vienna Tourism Board, Zementwerk Kirchdorf a.d. Krems
        </p>
      </article>
    </section>
    <section class="reel">
      <iframe
        src="https://player.vimeo.com/video/670168289?h=ec2e1f4cdf"
        allow="fullscreen"></iframe>
    </section>
    <section class="contact">
      <article>
        <img src="me.jpeg"/>
        <a href="tel:+436643921524">+43 664 392 15 24</a>
        <a href="mailto:mail@camillorakos.com">mail@camillorakos.com</a>
        <p>
          Camillo Rakoš
          <br />
          <span class="pin"></span>Vienna, Austria
        </p>
      </article>
      <article class="dsgvo">
        <a href="/dsgvo">Datenschutzerklärung</a>
      </article>
    </section>
  </main>
</Layout>
<style is:global>
  section {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 48px;
    overflow: hidden;
    scroll-snap-align: start;
  }
  section.intro {
    padding: 0;
  }
  .clients {
    position: absolute;
    align-self: flex-end;
    font-size: 14px;
  }
  .dsgvo {
    position: absolute;
    font-size: 14px;
    bottom: 20px;
  }
  video.portrait {
    display: none;
  }
  article {
    width: 512px;
    text-align: center;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
  .contact img {
    width: 200px;
    margin-bottom: 30px;
  }
  .pin {
    position: relative;
    display: inline-block;
    width: 1em;
  }
  .pin::before {
      content: "📍";
      position: absolute;
      right: 0.1em;
      bottom: -0.2em;
    }
  @media (max-width: 800px) {
    video.landscape {
      display: none;
    }
    video.portrait {
      display: block;
    }
    article {
      width: 80%;
    }
    .clients {
      font-size: 12pt;
    }
    section {
      flex-direction: column;
      padding: 0px;
    }
    .clients {
      position: static;
      align-self: auto;
    }
  }
  @media (max-width: 600px) {
    .clients {
      font-size: 10px;
    }
  }
</style>
