<script>
  const header = document.querySelector("header") as HTMLElement;
  const main = document.querySelector("main") as HTMLElement;
  const nav = header.querySelector("nav") as HTMLElement;
  const btns = nav.querySelectorAll("button");
  window.scrollTo({ top: 0, left: 0, behavior: "smooth" });
  window.setTimeout(function () {
    btns[1].classList.remove("hidden");
  });
  window.setTimeout(function () {
    btns[1].classList.add("hidden");
  }, 800);
  window.setTimeout(function () {
    btns[1].classList.remove("hidden");
  }, 1600);
  window.setTimeout(function () {
    btns[1].classList.add("hidden");
  }, 2400);
  window.setTimeout(function () {
    btns[1].textContent = "Reel";
    for (let btn of btns) {
      btn.classList.remove("hidden");
    }
  }, 3200);
  function setHeaderPos(e?: Event) {
    const os = window.pageYOffset / window.innerHeight;
    if (window.innerWidth <= 800) {
      if (os > 0.5) {
        header.classList.remove("large");
        header.classList.add("minimized");
      } else {
        header.classList.remove("minimized");
        header.classList.add("large");
      }
      nav.removeAttribute("style");
    } else {
      const pos = os < 1 ? Math.sin((Math.PI * os) / 2) : 1;
      nav.removeAttribute("style");
      nav.style.height = `${pos * 48 + (1 - pos) * window.innerHeight}px`;
      nav.style.width = `${70 + 30 * pos}%`;
    }
  }
  (window.onresize = window.onscroll = setHeaderPos)();
  const burger = header.querySelector(".burger") as HTMLElement;
  burger.onclick = function () {
    header.classList.remove("minimized");
  };
  const html = document.querySelector("html") as HTMLElement;
  let timeout: number;
  for (let id of ["about", "reel", "contact"]) {
    const btn = nav.querySelector(`button.${id}`) as HTMLElement;
    const sec = main.querySelector(`section.${id}`) as HTMLElement;
    btn.onclick = function () {
      html.style.scrollSnapType = "none";
      sec.scrollIntoView({ behavior: "smooth", block: "center" });
      window.clearTimeout(timeout);
      timeout = window.setTimeout(function () {
        html.style.scrollSnapType = "y mandatory";
      }, 1000);
    };
  }
</script>
<header>
  <button class="burger">
    <div></div>
    <div></div>
    <div></div>
  </button>
  <nav style="display: none;">
    <button class="about hidden">About</button>
    <button class="reel hidden">Loading...</button>
    <button class="contact hidden">Contact</button>
  </nav>
</header>
<style is:global>
  nav {
    position: fixed;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 12px;
    z-index: 5;
    user-select: none;
  }
  nav button {
    transition: opacity 400ms;
  }
  nav button.hidden {
    opacity: 0;
  }
  .burger {
    display: none;
  }
  .banner {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  button.about,
  button.contact,
  button.reel {
    padding: 0 48px;
  }
  button.about {
    position: absolute;
    align-self: flex-start;
  }
  button.contact {
    position: absolute;
    align-self: flex-end;
  }
  @media (max-width: 800px) {
    nav {
      /* display: none; */
      height: 126px;
      justify-content: space-around;
      transition: height 800ms, top 400ms;
    }
    header.large nav {
      display: flex;
      height: 100vh;
    }
    header.minimized nav {
      display: flex;
      top: -60px;
      height: 40px;
    }
    .burger {
      position: fixed;
      top: 0px;
      right: 0;
      left: 0;
      width: 50px;
      height: 126px;
      display: flex;
      margin: auto;
      flex-direction: column;
      justify-content: space-around;
      z-index: 50;
      opacity: 0;
      cursor: pointer;
      pointer-events: none;
      transition: height 400ms, opacity 400ms, top 400ms;
    }
    header.minimized .burger {
      top: 30px;
      height: 50px;
      opacity: 1;
      pointer-events: auto;
    }
    .burger div {
      height: 2px;
      background: white;
    }
    button.about,
    button.contact {
      position: static;
      align-self: auto;
    }
    .banner {
      display: flex;
    }
  }
</style>
