<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Camillo Rakoš am an evolving cinematographer based in Vienna, Austria focusing on documentaries, music videos, fictional and advertorial projects."
    />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <title>Camillo Rakoš</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "Simplon";
    src: local("Simplon"),
      url("/SimplonNorm-Regular-WebS.woff2") format("woff2"),
      url("/SimplonNorm-Regular-WebS.woff") format("woff");
  }
  * {
    all: unset;
    display: revert;
    box-sizing: border-box;
  }
  html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  }
  body {
    background: black;
    color: white;
    -webkit-text-fill-color: white;
    font-family: "Simplon";
    font-size: 24px;
    line-height: 1.2;
  }
  a,
  button {
    display: block;
    cursor: pointer;
  }
  a {
    text-decoration: underline;
  }
  h1 {
    text-align: center;
    margin-top: 2.4em;
  }
  h2 {
    margin: 2.4em 0 1.2em;
  }
  p {
    margin-top: 1.2em;
  }
  @media (max-width: 1000px) {
    body {
      font-size: 20px;
    }
  }
  @media (max-width: 600px) {
    body {
      font-size: 14px;
    }
  }
</style>
